.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}
.bg-color-1 {
    background-color: #f1c40f;
}

.bg-color-2 {
    background-color: #e74c3c;
}

.bg-color-3 {
    background-color: #9b59b6;
}

.bg-color-4 {
    background-color: #2ecc71;
}

.bg-color-5 {
    background-color: #3498db;
}

.sliderImg {
    z-index: 1;
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    z-index: 1;
}

.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    background-color: black;
    padding: 10px 20px;
    border-radius: 15px;
    border: 0;
    outline: 0;
    z-index: 1;
    cursor: pointer;
}

.buyButton:hover {
    background-color: white;
    color: black;
}

/*Features*/
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.featureImg{
    width: 50px;
    height: 50px;
}
.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    color: white;
}
.featureDesc{
    color: #999;
    width: 50%;
    height: 100px;
}

/*Collaboration*/
.collaboration{
    display: flex;
    perspective: 10px;
    transform: perspective(300px rotateX(20deg));
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
}
.collaboration:hover{
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
}
.collaboration:hover .collabText{
    opacity: 1;
}
.collaboration:hover > div{
    opacity: 1;
    transition-delay: 0s;
}
.collaboration:hover .explainer{
    opacity: 0;
}
.left, .far-left, .Center, .right, .far-right{
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgba(255,255,255,0.2);
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #888;
    cursor: pointer;
    background-blend-mode: color-burn;
} 
.left:hover, .far-left:hover, .Center:hover, .right:hover, .far-right:hover{
    box-shadow: 0 0 30px 10px rgba(255,255,255,0.6);
    background-color: #ccf;
}
.collabText{
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    color: #f7f7f7;
    text-shadow: 0 0 5px rgba(255,255,255,0.1);
}
.far-left{
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url("/adidas.png");
    background-size: 100px 100px;
}
.left{
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background-image: url("/jordan-logo.png");
    background-size: 100px 100px;
}
.Center{
    width: 300px;
    text-align: center;
    opacity: 1;
    background-image: url("/nike.png");
    background-size: 200px 100px;
}
.right{
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url("/vans.png");
    background-size: contain;
}
.far-right{
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url("/lv.png");
    background-size: contain;
}
.explainer{
    font-weight: 300;
    font-size: 2rem;
    color: #000;
    transition: all .6s ease;
    width: 100%;
    height: 100%;
    background-color: #888;
    background-image: radial-gradient(circle at center top #111, #777);
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255,255,255,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ref{
    background-color: #000;
    background-image: linear-gradient(to bottom, #d80, #c00);
    border-radius: 3px;
    padding: 7px 10px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.ref::first-letter{
    font-size: 12px;
}

/*gallery*/
.gallery{
    padding: 50px;
    display: flex;
    color: white;
}
.galleryItem{
    flex: 1;
    padding: 50px;
}
.galleryImg{
    width: 100%;
}

/*New Season*/
.ns{
    text-align: center;
    color: white;
}
.newSeason{
    display: flex;
    color: white;
}
.nsItem{
    flex: 1;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nsImg{
    width: 100%;
    height: 500px;
}
.nsTitle{
    font-size: 40px;
}
.nsButton{
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}